*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #028174;
    padding: 10px 35px;
    color: white;
}

nav h1{
    font-size: 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    margin-right: 55px;
    font-size: 18px;
    list-style: none;
}

.socials img{
    margin-right: 20px;
}

.section-one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 250px;

}

.left-div p{
    width: 515px;
    height: 160px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 80px;
    color: #5689C0;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.left-div button{
    background: #028174;
    border-radius: 20px;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
    margin-top: 20px;
}

.section-two{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 150px;
    background-color: rgb(224, 224, 224);
}

.section-two p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #333333;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-two p span{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    color: #45AA35;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-two button{
    background: #028174;
    border: 1px solid #028174;
    border-radius: 60px;
    width: 100px;
    height: 35px;
    margin-top: 35px;
    color: white;
}

.left{
    flex: 1;
}

.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    flex: 2;
}

.container p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #313131;
}